USE [master]
GO
/****** Object:  Database [SchoolDB]    Script Date: 22/05/2026 4:20:45 PM ******/
CREATE DATABASE [SchoolDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SchoolDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchoolDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SchoolDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolDB]
GO
/****** Object:  Table [dbo].[ClassSections]    Script Date: 22/05/2026 4:20:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSections](
	[SectionID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NULL,
	[RoomNumber] [nvarchar](50) NULL,
	[Semester] [nvarchar](50) NULL,
	[MaxCapacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseAssignments]    Script Date: 22/05/2026 4:20:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseAssignments](
	[CourseID] [int] NOT NULL,
	[InstructorID] [int] NOT NULL,
	[AssignmentDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC,
	[InstructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 22/05/2026 4:20:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](255) NOT NULL,
	[Credits] [int] NOT NULL,
	[Department] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 22/05/2026 4:20:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[SectionID] [int] NULL,
	[RegistrationDate] [date] NULL,
	[Grade] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 22/05/2026 4:20:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[InstructorID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Expertise] [nvarchar](255) NULL,
	[HireDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[InstructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 22/05/2026 4:20:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[DateOfBirth] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClassSections] ON 

INSERT [dbo].[ClassSections] ([SectionID], [CourseID], [RoomNumber], [Semester], [MaxCapacity]) VALUES (1, 1, N'A1-201', N'Hoc ky 1 2024', 50)
INSERT [dbo].[ClassSections] ([SectionID], [CourseID], [RoomNumber], [Semester], [MaxCapacity]) VALUES (2, 1, N'A1-202', N'Hoc ky 1 2024', 50)
INSERT [dbo].[ClassSections] ([SectionID], [CourseID], [RoomNumber], [Semester], [MaxCapacity]) VALUES (3, 2, N'B2-105', N'Hoc ky 1 2024', 40)
SET IDENTITY_INSERT [dbo].[ClassSections] OFF
GO
INSERT [dbo].[CourseAssignments] ([CourseID], [InstructorID], [AssignmentDate]) VALUES (1, 1, CAST(N'2020-01-01' AS Date))
INSERT [dbo].[CourseAssignments] ([CourseID], [InstructorID], [AssignmentDate]) VALUES (1, 2, CAST(N'2020-01-01' AS Date))
INSERT [dbo].[CourseAssignments] ([CourseID], [InstructorID], [AssignmentDate]) VALUES (2, 2, CAST(N'2020-01-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [CourseName], [Credits], [Department]) VALUES (1, N'Co so du lieu', 3, N'IT')
INSERT [dbo].[Courses] ([CourseID], [CourseName], [Credits], [Department]) VALUES (2, N'Lap trinh Web', 3, N'IT')
INSERT [dbo].[Courses] ([CourseID], [CourseName], [Credits], [Department]) VALUES (3, N'Toan roi rac', 3, N'Math')
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([EnrollmentID], [StudentID], [SectionID], [RegistrationDate], [Grade]) VALUES (2, 1, 3, CAST(N'2024-01-01' AS Date), 8)
INSERT [dbo].[Enrollments] ([EnrollmentID], [StudentID], [SectionID], [RegistrationDate], [Grade]) VALUES (3, 2, 1, CAST(N'2024-01-01' AS Date), 7)
INSERT [dbo].[Enrollments] ([EnrollmentID], [StudentID], [SectionID], [RegistrationDate], [Grade]) VALUES (4, 3, 1, CAST(N'2024-01-01' AS Date), 9)
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Instructors] ON 

INSERT [dbo].[Instructors] ([InstructorID], [FullName], [Expertise], [HireDate]) VALUES (1, N'TS. Tran Van Nam', N'Database', CAST(N'2010-01-01' AS Date))
INSERT [dbo].[Instructors] ([InstructorID], [FullName], [Expertise], [HireDate]) VALUES (2, N'ThS. Le Thi Binh', N'Web', CAST(N'2015-05-15' AS Date))
INSERT [dbo].[Instructors] ([InstructorID], [FullName], [Expertise], [HireDate]) VALUES (3, N'TS. Pham Minh Tuan', N'Network', CAST(N'2012-08-20' AS Date))
SET IDENTITY_INSERT [dbo].[Instructors] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentID], [StudentName], [Email], [DateOfBirth]) VALUES (1, N'Nguyen Hoang Long', N'longnh@student.edu.vn', CAST(N'2000-01-01' AS Date))
INSERT [dbo].[Students] ([StudentID], [StudentName], [Email], [DateOfBirth]) VALUES (2, N'Vu Minh Anh', N'anhvm@student.edu.vn', CAST(N'2000-02-02' AS Date))
INSERT [dbo].[Students] ([StudentID], [StudentName], [Email], [DateOfBirth]) VALUES (3, N'Le Bao Chau', N'chaulb@student.edu.vn', CAST(N'2000-03-03' AS Date))
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__A9D10534BEF83F67]    Script Date: 22/05/2026 4:20:45 PM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClassSections]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[CourseAssignments]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[CourseAssignments]  WITH CHECK ADD FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Instructors] ([InstructorID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([SectionID])
REFERENCES [dbo].[ClassSections] ([SectionID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
USE [master]
GO
